$primary-color: rgb(0, 86, 210);
$text-color: #0f1114;
$background-color: #EDF2FD;
$font-family: 'Source Sans Pro', sans-serif,Arial;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
    padding: 3rem 3rem;
    gap: 0.3rem;
    background-color: $background-color;
    align-items: center;
    animation: fadeInUp 0.6s ease-in-out;

    .content {
        font-family: $font-family;
        gap: 4rem;
        max-width: 32rem;
        margin-left: 8rem;

        h1:first-child { 
            color: $primary-color;
            font-size: 1.8rem;
        }

        .title {
            font-weight: 600;
            font-size: 48px;
            line-height: 40px;
            font-style: normal;
            color: $text-color;
        }
        .subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            font-style: normal;
            color: $text-color;
            margin-top: 0.75rem;
            margin-left: 7px;
        }
    }

    .button {
        display: flex;
        gap: 1rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
    
        
          }

    
    .image {
        width: 100%; 
        height: 100%;
        position: relative;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-right: 5rem;
        margin-top: -4.5rem;

        img {
            max-width: 90%; 
            max-height: 90%;
            object-fit: contain;
            border-radius: 10px;
            animation: float 3s ease-in-out infinite 1s;
        }
    }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}