// ===== Signup Page Styling =====

* {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:#EDF3FD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 101;
  //box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease-in-out;
}
.close-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background: transparent;
  border: none;
  font-size: 1.25rem;
  color: #666;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;

  &:hover {
    color: #000;
    transform: scale(1.1);
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(0, 86, 210);
  text-align: center;
  margin-bottom: 1.8rem;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: 500;
    color: #0f1114;
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
  }
}

.select {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: 500;
    color: #0f1114;
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
  }

  select {
    padding: 0.7rem;
    border: 1px solid #c3cad9;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease;

    &:focus {
      border-color: #2563eb;
      box-shadow: 0 0 4px rgba(37, 99, 235, 0.3);
      background-color: #fff;
    }
  }
}

// ===== Material Skills Dropdown =====
.skills-field {
  width: 100%;
  margin-bottom: 1.5rem;

  ::ng-deep .mat-mdc-form-field-flex {
    background-color: #f5f7fb;
    border-radius: 8px;
  }

  ::ng-deep .mat-mdc-select-trigger {
    font-size: 1rem;
  }

  ::ng-deep .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }
}

// ===== Error messages =====
.error {
  color: red;
  font-size: 0.85rem;
  margin: 0.25rem 0rem;
}

.passcontext {
  background-color: #f0f6ff;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #3b82f6;

  ul {
    margin: 0.5rem 0 0 1rem;
  }
}

// ===== Button styling =====
.btn {
  //margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

}
.switch {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;

  p {
    color: #555;

    a {
      color: #3b82f6;
      text-decoration: none;
      font-weight: 600;
      margin-left: 0.3rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}