$primary-color: rgb(0, 86, 210);
$text-color: #0f1114;
$background-color: #f0f6ff;
$font-family: 'Source Sans Pro', sans-serif,Arial;
*{
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
.container {
  width: 100%;
  max-width: 400px;       
  min-width: 300px;       
  padding: 2rem;                 
  background-color: #fff; 
  border-radius: 10px;    
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;           
}

.fields label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 5px;
}

.fields input {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.85rem;
}
.showPass{
  color: blue;
  text-decoration: underline;
  
  border: none;
  outline: none;         
  background: transparent; 
  cursor: pointer; 
}
body{
  height: 100vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -7px;
  font-size:15px;
  gap: 5px;
}
.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(0, 86, 210);
  text-align: center;
  margin-bottom: 1.8rem;
}
form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.btn {
  display: flex;
  justify-content: center;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}