$primary-color: rgb(0, 86, 210);
$text-color: #0f1114;
$background-color: #f4f7fe;
$font-family: 'Source Sans Pro', sans-serif, Arial;

.course-details-container,
.course-details {
  font-family: $font-family;
  padding: 2rem 4rem;
  background-color: #fff;
  min-height: 80vh;

  h2 {
    color: $primary-color;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    color: $text-color;
    font-size: 1rem;
    margin-bottom: 0.5rem;

    strong {
      color: $primary-color;
    }
  }

  .back-btn {
    margin-top: 2rem;
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
  .btn{
    display: flex;
    height: 50%;
    width: 50%;
    outline: #0f1114;
    justify-content: space-between;
    align-items: center;
  }
}


.noData {
  color: $text-color;
  text-align: center;
  margin-top: 2rem;
}
